{% extends "layout.html" %}
{% block title %}Countdown{% endblock %}

{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Countdown</h1>
  <p class="lead">Start counting down for stage</p>
</div>


<!-- <div class="row">
    <div class="col-md-12">
        <h2>Next Bus 1</h2>
        <ul class="list-group mb-4">
            {% for item in itemsOne %}
            <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Next Bus 2</h2>
        <ul class="list-group mb-4">
            {% for item in itemsTwo %}
            <li>{{ item}}</li>
            {% endfor %}
        </ul>
    </div>
</div> -->
<div class="row">
  <div class="col-md-12">
    <h2>Count Down</h2>
    <form action="{{'/start_specific_time'}}" method="post">
      <input type="datetime-local" id="starttimeid" name="starttime" value="2017-06-01T08:30" required>
      <input type="submit" value='Start Count Down'>
      <script>
        n = new Date();
        m = n.getMonth() + 1;
        d = n.getDate();
        y = n.getFullYear()
        if (m <= 9)
          m = "0" + String(m)
        else
          m = String(m)
        if (d <= 9)
          d = "0" + String(d)
        else
          d = String(d)

        timeNow = String(y + '-' + m + '-' + d + 'T10:30')
        document.getElementById("starttimeid").value = timeNow
      </script>
    </form>
    <form action="{{'/start_fixed_time'}}" method="post">
      <select name="fixtime" id="fixtime">
          <option value="60" selected="60">1 min</option>
          <option value="120">2 mins</option>
          <option value="300">5 mins</option>
          <option value="600">10 mins</option>
      </select>
    <input type="submit" value='Start Count Down'>
    </form>
  </div>
</div>

<div class="row" style="margin-top:50px;">
  <div class="col-md-12">
    <h2>Message</h2>
    <form action="{{'/send_message'}}" method="post">
      <div class="form-example">
        <!-- <label for="title">TO DO: </label> -->
        <input type="title" name="message" id="message" required>
        <!-- <label for="Done"> Is it done?</label> -->
        <input type="submit" value="Message To Stage">
      </div>
    </form>
  </div>
</div>

<div class="row" style="margin-top:50px;">
  <div class="col-md-12">
    <h2>Current Time</h2>
    <form action="{{'/show_current'}}" method="post">
      <div class="form-example">
        <input type="submit" value="Show Current Time">
      </div>
    </form>
  </div>
</div>


{% endblock %}