{% extends "layout.html" %}
{% block title %}To-Do App{% endblock %}

{% block content %}
  <div class="jumbotron">
    <h1 class="display-4">To-Do App</h1>
    <p class="lead">Just another to-do app.</p>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>Items</h2>
      <ul class="list-group mb-4">
        {% for item in items %}
        <li>{{ item.title }} - {{item.status}}</li>
        {% endfor %}
      </ul>
    </div>
  </div>

<form action="" method="post" class="form-example">
  <div class="form-example">
    <label for="title">TO DO: </label>
    <input type="title" name="title" id="title" required>
    <label for="Done"> Is it done?</label>
  </div>
  <div class="form-example">
    <input type="submit" value="Let's note it down">
  </div>
</form>
<form action="" method="post" class="form-example">
  <div class="form-example">
    <label for="title2">Which one is done? </label>
    <input type="title2" name="title2" id="title2" required>
  </div>
  <div class="form-example">
    <input type="submit" value="Done">

  </div>
</form>

{% endblock %}
